<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
<h1><%= @list.name %></h1>
</div>

<div class="container position-relative" style="top:120px">
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
      <div class="card-category">
        <div class="card-trip">
          <img src="<%= @movies.find(bookmark.movie_id).poster_url %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= @movies.find(bookmark.movie_id).title %>  |  <%= @movies.find(bookmark.movie_id).rating %> ⭐️</h2>

              <p><%= @movies.find(bookmark.movie_id).overview %></p>
            </div>
          </div>
          <div class="card-footer">
            <i class="fa-solid fa-quote-left" style="color:black"></i><p class="font-weight-light font-italic"><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
