<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
<h1><%= @list.name %></h1>
</div>

<hr>

<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "Add a bookmark", new_list_bookmark_path(@list) , class: "btn btn-primary p-8" %>
  </div>
</div>

<hr>

<div class="container" style="top:120px">
  <div class="cards position-relative">
    <% @bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <%= image_tag "https://image.tmdb.org/t/p/w500/#{@movies.find(bookmark.movie_id).poster_url}" %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @movies.find(bookmark.movie_id).title %>  |  <%= @movies.find(bookmark.movie_id).rating %> ⭐️</h2>
              <p><%= @movies.find(bookmark.movie_id).overview %></p>
            </div>
          </div>
          <div class="card-footer">
            <i class="fa-solid fa-quote-left" style="color:black"></i><p class="font-weight-light font-italic"><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
      </div>
    <% end %>
  </div>
</div>
