<div class="container">
  <h1><%= @list.name %></h1>

  <div class="card">
    <% @bookmarks.each do |bookmark| %>
      <p><%= bookmark.comment %></p>
      <p><%= @movies.find(bookmark.movie_id).title %></p>
      <p><%= @movies.find(bookmark.movie_id).overview %></p>
      <p><%= @movies.find(bookmark.movie_id).rating %></p>
      <p><%= @movies.find(bookmark.movie_id).poster_url %></p>
    <% end %>
  </div>
</div>
